body {
    border: 1px dashed black;
    padding: 0 10px;
    margin: 10px auto;
    max-width: 500px;
    text-align: center;
}

figure {
    margin: 0;
}

.logo img {
    width: 10rem;
}

header h2 {
    margin: 0;
}

.title-header {
    text-align: center;
}

.fiscal-data {
    line-height: 35%;
}

.data-store {
    margin-top: 2rem;
    line-height: 35%;
}

.data-store .data-store-name, .data-store .data-store-address {
    font-weight: bold;
}

.column-heading {
    margin: 0 1rem 1rem 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px dashed black;
}

.column-heading > span {
    display: flex;
    justify-content: space-around;
}

.column-heading .column-heading2 {
    font-size: 25px;
    letter-spacing: 0.25rem;
}

.column-heading span div {
    margin: 0 20px;
    letter-spacing: 0.25rem;
}

.data-items {
    max-width: 500px;
}

.data-items .item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    line-height: 0;
}

.data-items .item .item-sale-code {
    text-align: start;
}
.data-items .item .item-sale-description {
    text-align: start;
}
.data-items .item .item-sale-price {
    text-align: end;
}

.data-items .item .item-sale-discount-tax {
    grid-area: 2 / 1 / 2 / 4;
    font-weight: bold;
}

.subtotal p {
    font-weight: bold;
    text-align: end;
}

.method-pay {
    display: grid;
    grid-template-columns: auto auto;
    
}

.total-product p {
    text-align: start;
}

.total-product p span {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.tax .tax-header, .tax .tax-plan {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media (min-width: 800px) {

    body {
        max-width: 700px;
    }

    .logo img {
        width: 15rem;
    }

    .column-heading > span {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .data-items {
        max-width: 700px;
        margin: 0 1rem 2rem 2rem;
    }
}